main {
  color: color(--primary);

  .hero {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include for-tablet-portrait-up() {
      padding-top: 13.5rem;
    }
    
    @include for-tablet-landscape-up() {
      padding-top: 10rem;
      height: 60rem;
    }
    
    @include for-desktop-up() {
      height: 100vh;
    }

    .hero__heading {
      font-weight: 700;
      text-transform: uppercase;

      @include for-tablet-portrait-up() {
        font-size: 7rem;
      }

      @include for-desktop-up() {
        font-size: 10rem;
      }

      @include for-big-desktop-up() {
        font-size: 12.5rem;
      }
    }

    .hero__subheading {
      width: 33%;
      font-weight: 400;
      margin-top: 15rem;

      @include for-tablet-landscape-up() {
        font-size: 2rem;
      }

      @include for-big-desktop-up() {
        font-size: 2.8rem;
      }
    }

    .hero__photos {
      display: flex;
      justify-content: space-between;

      div {
        background-color: white;
        padding: 1rem 1rem 5rem 1rem;
        position: absolute;
        box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
        
        @include for-tablet-landscape-up() {
          bottom: 10rem;
        }
        
        @include for-desktop-up() {
          bottom: 15rem;
        }

        img {
          object-fit: cover;
          width: 20rem;
          height: 15rem;

          @include for-tablet-landscape-up() {
            width: 25rem;
            height: 20rem;
          }

          @include for-desktop-up() {
            width: 30rem;
            height: 25rem;
          }
        }
      }

      div:nth-child(1) {
        rotate: -15deg;

        @include for-tablet-portrait-up() {
          left: 0rem;
        }

        @include for-tablet-landscape-up() {
          left: -15rem;
        }

        @include for-desktop-up() {
          left: -5rem;
        }
      }

      div:nth-child(2) {
        rotate: 15deg;

        @include for-tablet-portrait-up() {
          right: 0rem;
        }

        @include for-tablet-landscape-up() {
          right: -15rem;
        }

        @include for-desktop-up() {
          right: -5rem;
        }
      }
    }
  }

  .marquee {
    overflow: hidden;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    background-color: color(--primary);
    color: color(--bg);
    width: 100%;

    .marquee__text {
      align-items: center;
      display: flex;
      animation: marquee 10s linear infinite;

      span {
        display: flex;
        align-items: baseline;
        width: 55rem;
        padding: 3.6rem 0px;
        gap: 5rem;
      }

      p,
      i {
        font-size: 4rem;
        text-transform: uppercase;
      }
    }
  }

  .recent_work {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h3 {
      text-transform: uppercase;
    }

    .recent_work__grid {
      margin-top: 10rem;
      display: grid;
      width: 100%;
      justify-content: center;
      align-items: center;
      grid-gap: 2rem;
      grid-template-columns: 32% 32% 32%;

      .recent_work__figure {
        position: relative;
        width: 100%;

        img {
          object-fit: cover;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5) {
          img {
            width: 100%;
            height: 40rem;
          }
        }

        &:nth-child(3) {
          height: 100%;

          img {
            height: 100%;
            width: 100%;
          }
        }

        &:nth-child(1) {
          grid-column: 1 / 2;
          grid-row: 1;
        }

        &:nth-child(2) {
          grid-column: 1 / 2;
          grid-row: 2;
        }

        &:nth-child(3) {
          grid-column: 2;
          grid-row: 1 / 3;
        }

        &:nth-child(4) {
          grid-column: 3 / 4;
          grid-row: 1;
        }

        &:nth-child(5) {
          grid-column: 3 / 4;
          grid-row: 2;
        }

        div {
          position: absolute;
          height: 80px;
          width: 100%;
          bottom: 0;
          display: flex;
          text-transform: uppercase;

          p,
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 2.5rem;
          }

          p {
            flex: 8;
            background-color: color(--primary-o-75);
            color: color(--bg);
            padding: 1rem 4rem;
          }

          button {
            flex: 4;
            background-color: color(--secondary);
            color: color(--primary);

            a {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .about {
    margin-top: 20rem;

    > div {
      display: flex;

      @include for-tablet-landscape-up {
        flex-direction: column;
      }

      img {
        width: 55rem;
        height: 55rem;
        object-fit: cover;

        @include for-tablet-landscape-up() {
          width: 55rem;
          height: 55rem;
        }

        @include for-desktop-up() {
          width: 65rem;
          height: 65rem;
        }
      }

      > div {
        padding: 3.2rem 0 3.2rem 14.4rem;

        h3 {
          margin-bottom: 5rem;
          text-transform: uppercase;
        }

        > div {
          display: flex;
          flex-direction: column;
          gap: 5rem;

          button {
            text-transform: uppercase;
            font-size: 2rem;
            width: fit-content;
            padding: 1.5rem 3rem;
            border-radius: 8px;
            background-color: color(--primary);
            color: color(--bg);
            transition: all 250ms ease-in-out;

            &:hover {
              scale: 1.1;
            }
          }
        }
      }
    }
  }

  .services {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    h3 {
      text-transform: uppercase;
      margin-bottom: 10rem;
    }

    .services__photos {
      width: 100%;
    }

    figure {
      position: relative;

      div {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: color(--bg);
        font-size: 6rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
      }
    }

    img {
      filter: brightness(50%);
      object-fit: cover;
      width: 100%;
      height: 45rem;
    }

    .row {
      &:nth-child(1) {
        div {
          margin-bottom: 5rem;
        }
      }

      &:nth-child(2) {
        div:nth-child(1) {
          padding-right: 2.5rem;
        }
        div:nth-child(2) {
          padding-left: 2.5rem;
        }
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
