$unit: 'rem';

/**
 * Por convenção os nomes das cores devem começar com
 * dois traços (--), ao estilo das variáveis CSS.
 */
$colors: (
  --bg: rgb(242,234,230),
  --primary: rgb(65,83, 100),
  --primary-o-75: rgba(65,83, 100, 0.75),
  --primary-o-95: rgba(65,83, 100, 0.95),
  --secondary: rgb(243,153, 112),
  --secondary-stronger: rgb(255, 130, 72),

  --white: #fff,
  --black: #1b1b1b,

  // Adicione mais cores abaixo...
  // --blue-100: #0c53bd,
);
